.div{
    height: (91vmax /4);
    width: 50%;
}

.div1{
    background-color: lightgoldenrodyellow;
    float: left;
}
.div2{
    background-color: lightblue;
    float: right;
}
.div3{
    clear: both;
    float: left;
    background-color: lightcyan;
}
.div4{
    float: right;
    background-color: lightseagreen;
}