.topo {
    height: 5rem;
    background-color: gray;
    width: 100%;
    margin: 0;
}

.logado{
    border-radius: 50%;
    background-color: pink;
    height: 50px;
    width: auto;
}
:root{
  background-color: black;
}